<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search in Semantic field 'Social Relations'</title>
</head>
<body>
<h1>страница поиска</h1>
<h5>здесь Вы можете увидеть, сколько раз информанты дали интересующий Вас перевод</h5>
<form action="results">
	запрос: <input autocomplete="off" type="text" name="req"><br>
    <input type="submit" value="Отправить">
</form> 
    <p><br>
	<a href="/">анкета</a>
	<br>
	<a href="/stats">статистика</a>
	<br>
	<a href="/json">json</a>
	</p>
</body>
</html>