<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Statistics for Semantic field 'Social Relations'</title>
</head>
<body>
<h1  style="font-size: 120%; font-family: Verdana, Arial, Helvetica, sans-serif; color: #336">страница статистики</h1>
  <table width: "700px" border="1">
   <tr>
    <th>возраст</th><th>количество женщин</th><th>количество мужчин</th>
   </tr>
   <tr><td>до 18 лет</td><td>{{UAF}}</td><td>{{UAM}}</td>
  </tr>
  </tr>
   <tr><td>18-35 лет</td><td>{{MAF}}</td><td>{{MAM}}</td>
  </tr>
  </tr>
   <tr><td>36-50 лет</td><td>{{EF}}</td><td>{{EM}}</td>
  </tr>
  </tr>
   <tr><td>старше 50 лет</td><td>{{AF}}</td><td>{{AM}}</td>
  </tr>
 </table>
 <br>
 <form>
 <b>отношение количества информантов женщин к мужчинам: </b>{{fm}}
 <br>
 <b>чаще всего 'stranger' переовдят как: </b>
 <br><b><i>{{a1}} </b></i>вхождений {{a2}}
 <br><b><i>{{a3}} </b></i>вхождений {{a4}}
 </form>
	<p><br>
	<a href="/">анкета</a>
	<br>
	<a href="/json">json</a>
	<br>
	<a href="/search">поиск</a>
	</p>
</body>
</html>